/* ************************** 지도영역 START ************************** */
/* UI full map */
body.map { } 
.map-partition-area { display:flex; overflow:hidden; height:100vh; box-shadow:inset 0 1px 4px 0 rgba(0,0,0,0.3); } 
/* ****** 좌측영역 ****** */
.map-partition-area .left-area { position:relative; z-index:1;  transition:0.2s all;  width:0;} 
.map-partition-area .left-area *{letter-spacing:normal;}
.map-partition-area .left-area.expanded { margin-left:0; width:400px;} 
.left-area .map-list { position:absolute; top:0; left:0; height:100%; transition:0.2s all; box-shadow:0 2px 5px 0 rgba(0,0,0,0.25);background-color:#ffffff; } 
/* 상세모드 */
.map-list.detail { width:72vw; font-weight:normal;display:flex;flex-direction:column;transition:0.2s all;margin-left:-72vw;} 
.expanded .map-list.detail { width:72vw;max-width:72vw; margin-left:0;} 
.map-list .map-list-top { display:flex; flex-wrap:wrap; color:#ffffff; background-color:#1a8cfc; padding:14px 10px 18px;align-items:center;} 
.map-list .map-list-top .update { flex:0 0 100%;display:flex;align-items:center; margin-bottom:15px;} 
.map-list .map-list-top .update .update-time { color:rgba(255,255,255,0.6);font-size:12px;flex:0 0 50%;display:flex;align-items:center;} 
.map-list .map-list-top .update .update-time .btn {width:20px;height:20px;border:none;background:url(../images/icon-refresh.png) no-repeat center center;padding:0;margin-right:5px; } 
.map-list .map-list-top .update .update-time span { font-size:12px;letter-spacing: -0.05em;} 
.map-list .map-list-top .update .update-interval { flex:0 0 50%;text-align:right;font-size:12px;letter-spacing:-0.05em;} 
.map-list .map-list-top .update .update-interval .input-wrap { width:auto;display:inline-flex;min-height:auto; }
.map-list .map-list-top .update .update-interval .input-wrap label { font-size:12px;color:rgba(255,255,255,0.6);font-weight:normal;} 
.map-list .map-list-top .update .update-interval .input-wrap select {color:rgba(255,255,255,0.6);font-weight:normal; font-size:12px; border:none; background-color:transparent; background-image:linear-gradient(45deg, transparent 50%, rgba(255, 255, 255, 0.6) 50%), linear-gradient(135deg, rgba(255, 255, 255, 0.6) 50%, transparent 50%); background-repeat:no-repeat; background-position:calc(100% - 16px) calc(50%), calc(100% - 12px) calc(50%), 100% 0; background-size:4px 4px, 4px 4px, 2em 2em; height:20px;} 
.map-list .map-list-top .update .update-interval .input-wrap select:focus { border-color:#1a8cfc; outline:0; background-image:linear-gradient(45deg, rgba(255, 255, 255, 0.6) 50%, transparent 50%), linear-gradient(135deg, transparent 50%, rgba(255, 255, 255, 0.6) 50%); background-repeat:no-repeat; background-position:calc(100% - 12px) 50%, calc(100% - 16px) 50%, 100% 0; background-size:4px 4px, 4px 4px, 2em 2em; } 
.map-list .map-list-top .top-dashboard { display:flex; flex:0 0 100%; } 
.map-list .map-list-top .top-dashboard .list-tab {flex: 0 0 33.3333%; display:flex;align-items:center;padding-right:30px;} 
.map-list .map-list-top .top-dashboard .list-tab ul {display:flex;align-items:center; width:100%;} 
.map-list .map-list-top .top-dashboard .list-tab ul li { flex:0 0 50%;max-width:190px;} 
.map-list .map-list-top .top-dashboard .list-tab ul li + li{margin-left:10px;}
.map-list .map-list-top .top-dashboard .list-tab ul li a {display:flex;width:100%;height:40px; position:relative;text-align:center;align-items:center;justify-content: center;border-radius:3px;overflow:hidden;color:#fbfbfb;font-size:15px;} 
.map-list .map-list-top .top-dashboard .list-tab ul li .on { } 
.map-list .map-list-top .top-dashboard .list-tab ul li .on::before ,
.map-list .map-list-top .top-dashboard .list-tab ul li a:hover::before{position:absolute;width:100%;height:100%;top:0;left:0;background-color:rgba(0,0,0,0.2);content:'';display:block; } 
.map-list .map-list-top .top-dashboard .list-tab ul li span { position:relative;} 
.map-list .map-list-top .top-dashboard .list-tab ul li span .dot.issue{position:absolute;left:100%;top:0;margin-left:5px;width:5px;height:5px;border-radius:50%;background-color:#fcce1a;}
.map-list .map-list-top .top-dashboard .search-form { flex: 0 0 33.3333%;display:flex;align-items:center;justify-content: center;} 
.map-list .map-list-top .top-dashboard .search-form .input-wrap {height:42px; max-width:380px;margin:0 auto;width:100%;} 
.map-list .map-list-top .top-dashboard .search-form .input-wrap input {height:42px;border-radius:4px; padding-left:16px;padding-right:43px;} 
.map-list .map-list-top .top-dashboard .search-form .input-wrap .icon.icon-search {width: 17px;height:17px;background:url(../images/icon-left-search.png) no-repeat center center;display:block;position:absolute;right:20px;top:50%;margin-top:-8.5px;} 
.map-list .map-list-top .top-dashboard .status {flex: 0 0 33.3333%; text-align:center;padding:0 20px;} 
.map-list .map-list-top .top-dashboard .status ul {display:flex; align-items:center;margin:0 auto;justify-content: center;max-width:380px;} 
.map-list .map-list-top .top-dashboard .status ul li { flex:0 0 25%;position:relative;} 
.map-list .map-list-top .top-dashboard .status ul li + li:before{content:'';display:block;width:1px;height:25px;top:50%;margin-top:-12.5px;background-color:#fbfbfb;opacity:0.2;position:absolute;}
.map-list .map-list-top .top-dashboard .status ul li a { } 
.map-list .map-list-top .top-dashboard .status ul li a .value { font-size:18px;font-weight:500;color:#ffffff;display:block;text-align:center;} 
.map-list .map-list-top .top-dashboard .status ul li a span { font-size:12px;color:rgba(255,255,255,0.6);text-align:center;display:block;} 
.map-list .map-list-tabs { } 
.map-list .map-list-tabs ul { display:flex;width:100%;} 
.map-list .map-list-tabs ul li { display:flex;align-items:center;justify-content: center;flex:1;max-width:100px;border-bottom:1px solid #dcdcdc;height:40px;align-items:stretch;} 
.map-list .map-list-tabs ul li a{border-top:3px solid transparent;border-bottom:3px solid transparent;display:flex;align-items:center;justify-content: center;width:100%;font-size:15px;font-weight:500;}
.map-list .map-list-tabs ul li .on,
.map-list .map-list-tabs ul li a:hover { border-bottom-color:#1a8cfc;color: #1a8cfc;} 
/* group list */
.map-list .group-list {height:calc(100vh - 194px);overflow-y:auto;overflow-x:hidden; } 
.map-list .group-list .group-level-1 {display:flex;flex-direction:column;height:100%; } 
.map-list .group-list .group-level-1 >ul{height:100%;}
.map-list .group-list .group-level-1 li { position:relative;z-index:1;} 
.map-list .group-list .group-level-1 > ul > li{transition:0.2s all;height:auto;overflow:hidden;flex:initial;display:flex;flex-direction:column;max-height:50px;}
.map-list .group-list .group-level-1 > ul > li.active{max-height:calc(100vh - 250px);}
.map-list .group-list .group-level-1 > ul > li.active ~ li{border-top:1px solid #dcdcdc;}
.map-list .group-list .group-level-1 li .group-title { display:flex;
  align-items:center;height:50px;font-size:16px;position:relative;z-index:2;min-height:50px;flex:initial;} 
.map-list .group-list .group-level-1 > ul > li.active >.group-title::before{content:'';display:block;width:11px;height:15px;border-left:1px dashed #b6b6b6;position:absolute;left:18px;bottom:0;}
.map-list .group-list .group-level-1 li .group-title::after{content:'';display:block;left:0;right:0;bottom:0;height:1px;background-color:#dcdcdc;position:absolute;}
.map-list .group-list .group-level-1 li.active .group-title::after{left:36px;}
.map-list .group-list .group-level-1 li.active .group-level-2 ul li:last-child .group-title::after{display:none;}
.map-list .group-list .group-level-1 li .group-title:hover{background-color:#f7fbff;}
.map-list .group-list .group-title.active,
.map-list .group-list .group-title.active:hover{background-color:#e8f3ff;}
.map-list .group-list .group-level-1 li .group-title .icon-toggle {width:13px;height:13px; border-radius:2px;border:1px solid #1a8cfc;margin:0 12px;background-color:#ffffff;position:relative;flex:initial;min-width:13px;max-width:13px;cursor:pointer;} 
.map-list .group-list .group-level-1 li .group-title .icon-toggle::before{position:absolute;width:7px;height:1px;background-color:#1a8cfc;top:50%;margin-top:0;left:50%;margin-left:-3.5px;display:block;content:'';}
.map-list .group-list .group-level-1 li .group-title .icon-toggle::after{position:absolute;height:7px;width:1px;background-color:#1a8cfc;top:50%;margin-top:-3.5px;left:50%;margin-left:-1px;display:block;content:'';}
.map-list .group-list .group-level-1 li.active .group-title .icon-toggle::after{display:none;}
.map-list .group-list .group-level-1 li .group-title span {flex:1; } 
.map-list .group-list .group-level-1 li .group-title span em {margin-left:14px; } 
.map-list .group-list .group-title .btn-toggle {margin-right:16px;width:20px;height:20px;padding:0; position:relative;border:none;background-color:transparent;} 
.map-list .group-list .group-title .btn-toggle::before{content:'';display:block;width:14px;height:14px;border-right:1px solid #8a8a8a;border-bottom:1px solid #8a8a8a;transform:rotate(45deg);margin-top:-11px;position:absolute;left:50%;margin-left:-7px;top:50%;}
.map-list .group-list .active > .group-title .btn-toggle::before{transform:rotate(-135deg);margin-top:-2px;border-color:#2b2b2b;}
.map-list .group-list .active > .group-title.active .btn-toggle::before{border-color:#1a8cfc;}
.map-list .group-list .group-level-2 {position:relative;z-index:0; transition:0.2s all;flex:1;/* overflow-y:auto;overflow-x:hidden; */} 
.map-list .group-list .active .group-level-2{max-height:calc(100vh - 300px);overflow-y:auto;}
.map-list .group-list .group-level-2 > ul{height:100%;overflow:hidden;}
.map-list .group-list .group-level-2 li { position:relative;z-index:0;} 
.map-list .group-list .group-level-2 li .group-title {padding-left:36px;font-size:14px;height:45px;min-height:45px; } 
.map-list .group-list li.active .group-level-2 li .group-title::before{content:'';display:block;width:11px;height:43px;border-left:1px dashed #b6b6b6;border-bottom:1px dashed #b6b6b6;position:absolute;top:50%;margin-top:-43px;left:18px;box-sizing:content-box;}
.map-list .group-list .group-level-2 li .group-title::after{left:30px;background-color:#ededed;}
.map-list .group-list .group-level-2 > li:last-child .group-title::after{display:none;}
.map-list .group-list .group-level-2 li .group-title .icon-toggle { } 
.map-list .group-list .group-level-2 li .group-title span { } 
.map-list .group-list .group-level-2 li .group-title span em { margin-left:10px;} 
.map-list .group-list .group-level-2 li .group-title .btn-toggle {width:14px;height:14px; } 
.map-list .group-list .group-level-2 li .group-title .btn-toggle::before{width:8px;height:8px;margin-top:-8px;margin-left:-5px;}
.map-list .group-list .group-level-2 li.active .group-title{color:#1a8cfc;}
.map-list .group-list .group-level-2 li.active .group-title .btn-toggle::before{margin-top:-3px;border-color:#1a8cfc;}
.map-list .group-list .group-level-2 > li.on{}
.map-list .group-list .list {background-color:#fbfbfb; position:relative;margin-top:-1px;height:auto;overflow:hidden;max-height:0;transition:0.2s all;} 
.map-list .group-list li.active > .list{/* border-bottom-color:#dcdcdc; */max-height:100vh;overflow:visible;z-index:3;}
.map-list .group-list li.active > .list::after{content:'';display:block;position:absolute;left:36px;bottom:0;right:0;height:1px;background-color:#dcdcdc;}
.map-list .group-list li:last-child > .list::after{display:none;}
.map-list .group-list .list::before{content:'';display:block;width:11px;height:100%;border-left:1px dashed #b6b6b6;/* border-bottom:1px dotted #b6b6b6; */position:absolute;top:0;margin-top:-20px;left:18px;box-sizing:content-box;z-index:2;}
.map-list .group-list .group-level-2 li:last-child .list{border-bottom:none;}
.map-list .group-list .group-level-2 li:last-child .list::before{display:none;}
.map-list .group-list .list .list-header {display:flex;text-align:center; align-items:center;border-bottom:1px solid #dcdcdc;line-height:1.1em;border-top:1px solid #ededed;padding-left:36px;} 
.map-list .group-list .list .list-header > div{position:relative;min-height:40px;display:flex;align-items:center;justify-content:center;font-size:14px;color:#5e5e5e;letter-spacing:-0.05em;word-break:keep-all;padding:10px;}
.map-list .group-list .list .list-header > div+div::before{content:'';display:block;width:1px; height:14px;top:50%;margin-top:-7px;left:0;background-color:#e2e2e2;position:absolute;}
.map-list .group-list .list .list-header > div.no-partition::before{display:none;}
.map-list .group-list .list .car-name {flex:0 0 13.8%;max-width:13.8%; } 
.map-list .group-list .list .car-name span { } 
.map-list .group-list .list .status { flex:0 0 14.86%;max-width:14.86%;} 
.map-list .group-list .list .status span { } 
.map-list .group-list .list .speed { flex:0 0 6.75%;max-width:6.75%;} 
.map-list .group-list .list .speed span { } 
.map-list .group-list .list .location { flex:0 0 22%;} 
.map-list .group-list .list .location span { } 
.map-list .group-list .list .day-drive-time { flex: 0 0 8.1%;max-width:8.1%;} 
.map-list .group-list .list .day-drive-time span { } 
.map-list .group-list .list .day-drive-distance {flex:0 0 8.1%;max-width:8.1%; } 
.map-list .group-list .list .day-drive-distance span { } 
.map-list .group-list .list .total-drive-distance { flex:0 0 8.1%;max-width:8.1%;} 
.map-list .group-list .list .total-drive-distance span { } 
.map-list .group-list .list .date-range { flex:0 0 14.86%;max-width:14.86%;} 
.map-list .group-list .list .date-range span { } 
.map-list .group-list .list .call-menu {flex:0 0 35px; max-width:35px;padding:0;} 
.map-list .group-list .list .call-menu::before{display:none;}
.map-list .group-list .list .call-menu span { } 
.map-list .group-list .list .list-body { } 
.map-list .group-list .list .list-body ul { } 
.map-list .group-list .list .list-body ul .list-item { display:flex;align-items:center;padding-left:36px;} 
.map-list .group-list .list .list-body ul .list-item:hover{background-color:#ededed;}
.map-list .group-list .list .list-body ul .list-item::before{background-color: #ededed;left:36px;top:0;right:0;height:1px;content:'';display:block;position:absolute;}
.map-list .group-list .list .list-body ul .list-item > div{align-items:center;justify-content:center;padding:10px;color:#2b2b2b;text-align:center;}
.map-list .group-list .list .list-body ul .list-item .car-name { justify-content:flex-start;padding-left:0;} 
.map-list .group-list .list .list-body ul .list-item .car-name .flag { display:inline-flex;width:30px;height:16px;border-radius:8px;color:#ffffff;font-size:11px;align-items:center;justify-content:center;background-color:#dcdcdc;margin-right:6px;} 
.map-list .group-list .list .list-body ul .list-item .car-name .flag.on{background-color:#1a8cfc;}
.map-list .group-list .list .list-body ul .list-item .car-name span { display:inline-block;} 
.map-list .group-list .list .list-body ul .list-item .status { } 
.map-list .group-list .list .list-body ul .list-item .status ul { } 
.map-list .group-list .list .list-body ul .list-item .status ul li { } 
.map-list .group-list .list .list-body ul .list-item .speed { } 
.map-list .group-list .list .list-body ul .list-item .speed span { } 
.map-list .group-list .list .list-body ul .list-item .location { } 
.map-list .group-list .list .list-body ul .list-item .location .icon-gps{display:inline-flex;vertical-align:middle;align-items:flex-end;height:12px;margin-right:15px;}
.map-list .group-list .list .list-body ul .list-item .location .icon-gps i{background-color:#dcdcdc;width:2.5px;}
.map-list .group-list .list .list-body ul .list-item .location .icon-gps i.on{background-color:#3b95fe;}
.map-list .group-list .list .list-body ul .list-item .location .icon-gps 
i + i{margin-left:2.5px;}
.map-list .group-list .list .list-body ul .list-item .location .icon-gps i.gps-bar-1{height:6px;}
.map-list .group-list .list .list-body ul .list-item .location .icon-gps i.gps-bar-2{height:9px;}
.map-list .group-list .list .list-body ul .list-item .location .icon-gps i.gps-bar-3{height:12px;}
.map-list .group-list .list .list-body ul .list-item .location span { } 
.map-list .group-list .list .list-body ul .list-item .day-drive-time { } 
.map-list .group-list .list .list-body ul .list-item .day-drive-time span { } 
.map-list .group-list .list .list-body ul .list-item .day-drive-distance { } 
.map-list .group-list .list .list-body ul .list-item .day-drive-distance span { } 
.map-list .group-list .list .list-body ul .list-item .total-drive-distance { } 
.map-list .group-list .list .list-body ul .list-item .total-drive-distance span { } 
.map-list .group-list .list .list-body ul .list-item .date-range { } 
.map-list .group-list .list .list-body ul .list-item .date-range span { display:inline-block;} 
.map-list .group-list .list .list-body ul .list-item .call-menu {padding:0; } 
.map-list .group-list .list .list-body ul .list-item .call-menu .btn-call-menu { display:flex;align-items:center;justify-content:center;flex-direction:column;width:100%;height:30px;background:none;border:none;} 
.map-list .group-list .list .list-body ul .list-item .call-menu .btn-call-menu::before,
.map-list .group-list .list .list-body ul .list-item .call-menu .btn-call-menu::after{content:'';display:block;width:3px;height:3px;border-radius:3px;margin:1.5px auto;background-color:#8a8a8a;}
.map-list .group-list .list .list-body ul .list-item .call-menu .btn-call-menu .dot {width:3px;height:3px; margin:1.5px auto;display:block;background-color:#8a8a8a;} 
.map-list .left-area-btns { display:flex;width:100%;} 
.map-list .left-area-btns .btn { background-color:#ededed;flex:1;height:40px;display:flex;align-items:center;justify-content: center;font-size:13px;font-weight:500;border:none;border-radius:0;border-top:1px solid #dcdcdc;} 
.map-list .left-area-btns .btn + .btn{border-left:1px solid #dcdcdc;}
.map-list .btn-toggle-left-area { position:absolute; top:60px; left:100%; width:20px; height:58px; border:none; border-radius:0 3px 3px 0; background-color:#1a8cfc; box-shadow:1px 1px 2px 0 rgba(0,0,0,0.2); } 
.map-list .btn-toggle-left-area::before { display:block; width:0; height:0; content:''; border-top:4px solid transparent; border-bottom:4px solid transparent; border-left:4px solid #ffffff; } 
.expanded .map-list .btn-toggle-left-area::before { border-right:4px solid #ffffff; border-left:none; } 
.map-list.detail .detail-hide{display:none !important;}
/* 기본 뷰 */
.map-list.default,
.map-list.simple{width:400px;margin-left:-400px;}
.expanded .map-list.default,
.expanded .map-list.simple{margin-left:0;}
.map-list.default .map-list-top .top-dashboard,
.map-list.simple .map-list-top .top-dashboard{flex-wrap:wrap;}
.map-list.default .map-list-top .top-dashboard .list-tab,
.map-list.simple .map-list-top .top-dashboard .list-tab{order:2;flex:0 0 100%;padding-right:0;}
.map-list.default .map-list-top .top-dashboard .search-form,
.map-list.simple .map-list-top .top-dashboard .search-form{order:1;flex:0 0 100%;margin-bottom:10px;}
.map-list.default .map-list-top .top-dashboard .status,
.map-list.simple .map-list-top .top-dashboard .status{order:0;flex:0 0 100%;margin-bottom:20px;padding:0 10px;}
.map-list.default .group-list,
.map-list.simple .group-list{height:calc(100vh - 305px);}
.map-list.default .group-list .list .list-header,
.map-list.simple .group-list .list .list-header{display:none;}
.map-list.default .group-list .list .list-body ul .list-item,
.map-list.simple .group-list .list .list-body ul .list-item{flex-wrap:wrap;padding-top:13px;padding-bottom:13px;}
.map-list .group-list .list .list-body ul .list-item > div{padding:0;}
.map-list .group-list .list .list-body ul .list-item .car-name{flex:0 0 70%;max-width:70%;text-align:left;order:0;}
.map-list .group-list .list .list-body ul .list-item .car-name span:not(.flag){font-size:14px;}
.map-list .group-list .list .list-body ul .list-item .date-range{flex:0 0 30%;max-width:30%;order:1;font-size:12px;color:#8a8a8a;}
.map-list .group-list .list .list-body ul .list-item .location{order:2;flex:0 0 100%;max-width:100%;text-align:left;margin-top:5px;padding-left:9px;font-size:13px;color:#8a8a8a;}
.map-list .group-list .list .list-body ul .list-item .status{order:3;flex:0 0 135px;max-width:135px;margin-top:10px;display:inline-flex;font-size:12px;margin-left:36px;}
.map-list .group-list .list .list-body ul .list-item .status ul{display:flex;width:100%;}
.map-list .group-list .list .list-body ul .list-item .status ul li{display:flex;width:100%;align-items:center;color:#5e5e5e;}
.map-list .group-list .list .list-body ul .list-item .status ul li strong{flex:0 0 60px;color:#2b2b2b;text-align:left;}
.map-list .group-list .list .list-body ul .list-item .speed{order:4;flex:0 0 135px;max-width:135px;display:flex;align-items:center;margin-top:10px;margin-right:20px;margin-left:auto;}
.map-list .group-list .list .list-body ul .list-item .speed span{font-size:12px;color:#5e5e5e;display:flex;align-items:center;width:100%;}
.map-list .group-list .list .list-body ul .list-item .speed strong{flex:0 0 60px;color:#2b2b2b;text-align:left;}
.map-list .group-list .list .list-body ul .list-item .day-drive-time{order:5;flex:0 0 135px;max-width:135px;margin-left:36px;}
.map-list .group-list .list .list-body ul .list-item .day-drive-time span{display:flex;width:100%;align-items:center;color:#5e5e5e;font-size:12px;}
.map-list .group-list .list .list-body ul .list-item .day-drive-time span strong{color:#2b2b2b;flex:0 0 60px;text-align:left;}
.map-list .group-list .list .list-body ul .list-item .day-drive-distance{order:6;flex:0 0 135px;max-width:135px;margin-right:20px;margin-left:auto;}
.map-list .group-list .list .list-body ul .list-item .day-drive-distance span{text-align:left;display:flex;align-items:center;color:#5e5e5e;font-size:12px;}
.map-list .group-list .list .list-body ul .list-item .day-drive-distance span strong{flex:0 0 60px;color:#2b2b2b;}
.map-list .group-list .list .list-body ul .list-item .total-drive-distance{order:7;display:none;}
.map-list .group-list .list .list-body ul .list-item .total-drive-distance span{display:flex;align-items:center;text-align:left;color:#5e5e5e;}
.map-list .group-list .list .list-body ul .list-item .total-drive-distance span strong{flex:0 0 60px;color:#2b2b2b;}
.map-list .group-list .list .list-body ul .list-item .call-menu{order:8;position:absolute;right:8px;bottom:15px;}
.map-list.default .default-hide{display:none !important;}
/* 간단 뷰 */
.map-list.simple .group-list .list .list-body ul .list-item > div{display:none;}
.map-list.simple .group-list .list .list-body ul .list-item .car-name{display:flex;flex:0 0 240px;}
.map-list.simple .group-list .list .list-body ul .list-item .status{flex:initial;display:flex;max-width:30%;margin-top:0;margin-left:0;}
.map-list.simple .group-list .list .list-body ul .list-item .status ul li{display:none;font-size:14px;color:#444444;}
.map-list.simple .group-list .list .list-body ul .list-item .status ul li strong{display:none;}
.map-list.simple .group-list .list .list-body ul .list-item .call-menu{display:block;top:50%;margin-top:-15px;right:8px;}
.map-list.simple .simple-show{display:block !important;}
/* ****** 좌측영역 ****** */
/* ****** 우측영역 ****** */
.map-partition-area .right-area { position:relative; z-index:0; } 
.right-area .map-controls { } 
.right-area .map-controls .location-control { position:absolute; } 
.right-area .map-controls .location-control .location { } 
.right-area .map-controls .location-control .location .location-name { } 
.right-area .map-controls .location-control .location .location-list { } 
.right-area .map-controls .location-control .location .location-list ul { } 
.right-area .map-controls .location-control .location .location-list ul li { } 
.right-area .map-controls .location-control .location .location-list ul li a { } 
.right-area .map-controls .location-control .point { } 
.right-area .map-controls .location-control .point .input-wrap { } 
.right-area .map-controls .location-control .point .input-wrap select { } 
.right-area .map-controls .map-settings { position:absolute; } 
.right-area .map-controls .map-settings .map-setting { } 
.right-area .map-controls .map-settings .map-setting .btn-white { } 
.right-area .map-controls .map-settings .map-setting .setting-layer { } 
.right-area .map-controls .map-settings .map-setting .setting-layer .setting-title { } 
.right-area .map-controls .map-settings .map-setting .setting-layer .toggle-btns { } 
.right-area .map-controls .map-settings .map-setting .setting-layer .toggle-btns ul { } 
.right-area .map-controls .map-settings .map-setting .setting-layer .toggle-btns ul li { } 
.right-area .map-controls .map-settings .map-setting .setting-layer .toggle-btns ul li a { } 
.right-area .map-controls .map-settings .map-setting .setting-layer .toggle-btns ul li a .icon { } 
.right-area .map-controls .map-settings .map-setting .setting-layer .toggle-btns ul li a span { } 
.right-area .map-controls .map-settings .map-setting .setting-layer .toggle-maps { } 
.right-area .map-controls .map-settings .map-setting .setting-layer .toggle-maps .radio-group { } 
.right-area .map-controls .map-settings .map-setting .setting-layer .toggle-maps .radio-group .input-wrap { } 
.right-area .map-controls .map-settings .map-setting .setting-layer .toggle-maps .radio-group .input-wrap label { } 
.right-area .map-controls .map-settings .map-setting .setting-layer .toggle-maps .radio-group .input-wrap label #selMapType1 { } 
.right-area .map-controls .map-settings .map-setting .setting-layer .toggle-maps .radio-group .input-wrap label span { } 
.right-area .map-controls .map-settings .partition-setting { } 
.right-area .map-controls .map-settings .partition-setting .btn-white { } 
.right-area .map-controls .map-settings .partition-setting ul { } 
.right-area .map-controls .map-settings .partition-setting ul li { } 
.right-area .map-controls .map-settings .partition-setting ul li a { } 
.right-area .map-controls .map-settings .partition-setting ul li a .icon-partition-2 { } 
.right-area .map-controls .map-settings .map-style-setting { } 
.right-area .map-controls .map-settings .map-style-setting .btn-group { } 
.right-area .map-controls .map-settings .map-style-setting .btn-group .btn { } 
.right-area .map-controls .map-settings .map-focus-setting { } 
.right-area .map-controls .map-settings .map-focus-setting .map-zoom { } 
.right-area .map-controls .map-settings .map-focus-setting .map-zoom .btn { } 
.right-area .map-controls .map-settings .map-focus-setting .btn { } 
.right-area .map-object-area { } 
.right-area .background-map-area { } 
/* ****** 우측영역 ****** */
/* ************************** 지도영역 END ************************** */